<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        la registrazione della tua carta di credito che avevi effettuato con Cartasi per procedere ai pagamenti delle tue corse con Sharengo è stata annullata.
        <br>
        Per registrare un'altra carta di credito (anche pre-pagata) da utilizzare per gli addebiti automatici dei costi delle corse effettuate con Sharengo, dovrai procedere al pagamento di una corsa. Questo ti sarà possibile acceddendo alla tua area personale nel sito <a href="www.sharengo.it">www.sharengo.it</a>.
        <br>
        Nel caso al momento tu non abbia nessun pagamento in sospeso, la possibilità di registrare una nuova carta di credito ti sarà data dopo che avrai effettuato una nuova corsa.
        <br>
        <br>
        Attenzione: nel caso in cui il tuo debito non venisse saldato entro il %3$s - e non avessimo quindi una carta di credito valida associata al tuo profilo utente - il tuo account sarà sospeso fino al pagamento (potrai sempre accedere all’area riservata per fare il pagamento e indicare la tua carta di credito, ma non fare il log-in sulla APP o utilizzare un’Equomobile di Share’ngo).
        <br>
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Cordiali Saluti<br>
            Barbara Bacci<br>
            Community Manager<br>
            SHARE’NGO
        </div>
    </div>
</div>
