<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        come puoi vedere nell’Area Riservata di <a href="www.sharengo.it">Sharengo</a> hai esaurito i tuoi minuti bonus e il tuo account è da oggi a debito.
        <br>
        Ti eri iscritto/a a Share’ngo regolando il pagamento dell’iscrizione con Paypal o con bonifico. Per questo ti invitiamo ad effettuare il pagamento di questa prima corsa a debito quanto a noi dovuto <strong>entro 7 gg</strong> con un carta di credito valida (anche pre-pagata), scegliendo così la carta che vuoi associare in modo permanente al tuo profilo cliente.
        <br>
        <br>
        Dopo questo primo pagamento le corse ti saranno addebitate periodicamente in automatico su questa carta e potrai scaricare le fatture in area riservata il giorno successivo all'addebito.
        <br>
        <br>
        <br>
        <div style="width: 370px; float: right;">
            Cordiali Saluti<br>
            Barbara Bacci<br>
            Community Manager<br>
            SHARE’NGO
        </div>
    </div>
</div>