<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        Ti chiediamo di procedere con il pagamento delle tue corse effettuate con Sharengo.
        <br>
        <br>
        Loggati in <a href="www.sharengo.it">www.sharengo.it</a> e vai alla pagina <a href="%3$s">%3$s</a> per effettuare il pagamento.
        <br>
        <br>
        Hai tempo 7 giorni per completare la procedura, passati i quali verrai non ti sarà più possibile effettuare prenotazioni con Sharengo.
        <br>
        <br>
        <div style="width: 370px; float: right;">
            Grazie e a presto
            <br>
            <br>
            SHARE'NGO Milano
        </div>
    </div>
</div>