<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        come puoi vedere in Area Riservata nella sezione <a href="www.sharengo.it/area-utente/corse">Le mie corse</a> , hai esaurito i tuoi minuti bonus e hai effettuato una o più corse "a debito".
        <br>
        Ti eri iscritto/a a Share’ngo regolando il pagamento dell'iscrizione con Paypal o con bonifico. Per questo ti invitiamo ad effettuare il pagamento di quanto a noi dovuto con un carta di credito valida (anche pre-pagata) scegliendo così la carta che vuoi associare in modo permanente al tuo profilo cliente. Dopo questo primo pagamento le corse ti saranno addebitate periodicamente in automatico su questa carta e potrai scaricare le fatture nella sezione <a href="www.sharengo.it/area-utente/fatture">Fatture</a> il giorno successivo all'addebito.
        <br>
        <br>
        Attenzione: nel caso in cui il tuo debito non venisse saldato entro il %3$s - e non avessimo quindi una carta di credito valida associata al tuo profilo utente - il tuo account sarà sospeso fino al pagamento (potrai sempre accedere all’area riservata per fare il pagamento e indicare la tua carta di credito, ma non fare il log-in sulla APP o utilizzare un’Equomobile di Share’ngo).
        <br>
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Cordiali Saluti<br>
            Barbara Bacci<br>
            Community Manager<br>
            SHARE’NGO
        </div>
    </div>
</div>
