<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        La tua patente è stata validata dal servizio clienti Share'n'go
        <br>
        <br>
        Per qualsiasi dubbio, scrivi a <a class="email" href="mailto:servizioclienti@sharengo.eu">servizioclienti@sharengo.eu</a><br>
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Cordiali Saluti<br>
            Barbara Bacci<br>
            Community Manager<br>
            SHARE’NGO
        </div>
    </div>
</div>