<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        E' passata una settimana da quando ti abbiamo chiesto di procedere al pagamento delle tue corse. Ci risulta che tale operazione non sia stata esuguita.
        <br>
        <br>
        Siamo quindi costretti a disabilitare il tuo utente dalla possibilità di prenotare ulteriori corse con Sharengo.
        <br>
        <br>
        Per riabilitare il tuo utente è sufficiente che tu proceda al pagamento dalla tua area riservata in <a href="www.sharengo.it">www.sharengo.it</a>.
        <br>
        <br>
        <div style="width: 370px; float: right;">
            Grazie e a presto
            <br>
            <br>
            SHARE'NGO Milano
        </div>
    </div>
</div>