<div style="width: 590px;">
    <img src="cid:banner.jpg" width="590px">
        <div style="font-family: sans-serif; padding: 10px;">
        Ciao %1$s,
        <br>
        <br>
        sei iscritto da un anno a Share'ngo e tra una settimana scadrà la validità dello sconto con cui hai costruito il tuo <i>piano tariffario personale</i> su equomobili.it
        <br>
        <br>
        Ma Share'ngo continua a premiare il tuo bisogno di mobilità e la tua partecipazione alla sharing economy e tra una settimana potrai ricalcolare - con i nuovi parametri 2016 - <i>lo sconto che ti spetta</i> in pochi minuti, questa volta entrando in Area Riservata nella sezione "Tariffe" e cliccando sull'immagine di Mizzie, la nostra testimonial dai capelli rossi.
        <br>
        <br>
        Per spiegarti bene come fare, il giorno in cui il tuo sconto sarà portato a zero riceverai una mail di avviso, con tutte le indicazioni per tornare ad avere in pochi minuti uno sconto a te riservato e il tuo nuovo piano tariffario personale.
        <br>
        <br>
        Grazie per essere stato con noi questo anno in cui abbiamo fatto tanta strada insieme: le auto sono molto più numerose (quasi 1200 oggi tra Milano, Firenze e Roma!), le corse a impatto zero sono salite a oltre 2500 al giorno e i clienti di Share'ngo sono oltre 32000... quasi tutti felici di contribuire ogni giorno a migliorare la sostenibilità delle nostre città.
        <br>
        <br>
        Grazie e a presto
        <br>
        <br>
        Barbara Bacci<br>
        Responsabile Servizio Clienti Share'ngo
        <br>
        <br>
        <b style="font-size: 70%;">Attenzione: per ottenere il tuo sconto dovrai essere in regola con il pagamento della tua iscrizione a Share'ngo. Controlla oggi in Area Riservata nella sezione "Dati di pagamento".
    </div>
</div>