<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        Sei stato riabilitato ad utilizzare il sistema di SHARENGO!
        <br>
        <br>
        Affrettati e prenota la tua prossima corsa.
        <br>
        <br>
        <div style="width: 370px; float: right;">
            Grazie e a presto
            <br>
            <br>
            SHARE'NGO Milano
        </div>
    </div>
</div>