<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        è venuta a decadere la motivazione per cui eri stato disabilitato.
        <br>
        <br>
        Ti informo perciò che il tuo account è stato riabilitato e da questo momento puoi utilizzare le Equomobili di Share’ngo!
        <br>
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Cordiali Saluti<br>
            Barbara Bacci<br>
            Community Manager<br>
            SHARE’NGO
        </div>
    </div>
</div>