<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        abbiamo dovuto sospendere momentaneamente il tuo account perché ci risulta che non siano andati a buon fine uno o più pagamenti. Controlla che la tua carta di credito sia carica o non sia scaduta e contattaci, così risolveremo al più presto il problema!
        <br>
        <br>
        A presto,
        <br>
        <br>
        <br>
        <div style="float: left; overflow: hidden; width: 185px; max-height: 190px;">
            <img src="cid:barbarabacci.jpg" width="185px">
        </div>
        <div style="width: 370px; float: right;">
            Barbara Bacci<br>
            Responsabile Servizio Clienti Share'n Go<br>
        </div>
    </div>
</div>