<div style="width: 590px;">
    <img src="cid:bannerphono.jpg" width="590px">

    <div style="font-family: sans-serif; padding: 10px; overflow: hidden;">
        Ciao %1$s %2$s,
        <br>
        <br>
        C'è stato un problema nel tentativo di pagamento di una corsa che hai effettuato.
        <br>
        <br>
        Ti preghiamo di contattare il servizio clienti al numero <b>0586 1975772</b> oppure all'indirizzo email <a href="mailto:servizioclienti@sharengo.eu">servizioclienti@sharengo.eu</a>.
        <br>
        <br>
        <div style="width: 370px; float: right;">
            Grazie e a presto
            <br>
            <br>
            SHARE'NGO Milano
        </div>
    </div>
</div>